body {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}


svg {
    grid-column: 2 / 4;
    margin-top: 3rem;
}

#ground,
#scaffold,
#head,
#body,
#arms,
#legs {
    display: none; 
}

article {
    font-family: Georgia, 'Times New Roman', Times, serif;
    grid-column: 5 / 7;
    margin-top: 2rem;
}

#letter-input, #guess-button {
    display: none;   
}

#start-button {
    font-size: 1rem;
    border-radius: 0.2rem;
    margin-bottom: 1rem;
    border: none;
    background-color: rgb(110, 173, 110);
    width: 8rem;
    height: 2rem;
    cursor: pointer;
}

#word-display {
    margin-bottom: 5rem;
}

